---
layout: base
title: About
description: About Emma Bingham
---

<div class="about-section">
  <div class="about-section__photo">
    <img src="/img/emma.jpeg" alt="Emma Bingham">
  </div>

  <h1>About</h1>

  <p>I am a writer, editor, and scientist with a PhD in quantitative biology.</p>

  <p>During my PhD, I studied the evolution of biological complexity. My thesis focused on
  how multicellular organisms overcome the biophysical costs of having a lot of cells. 
  I used computational and lab experiments to carry out this work.
  Alongside, I developed an interest in the fundamental question of biology: What is life? This
  matters for how we understand ourselves as organisms and biology as a science.
  I'm especially interested in the work of Robert Rosen and a handful of other scientists
  and phenomenologists including Francisco Varela and Hans Jonas. I have presented on 
  Rosen's anticipatory systems and collaborated on 
  <a href="https://www.rosenlife.org/">an archive of his work</a>.</p>

  <p>I edited the <a href="https://thetech.com/">The Tech</a> (the student newspaper) 
  as an undergrad at MIT, and I helped launch 
  <a href="https://www.thewirechina.com/">The Wire China</a> 
  and wrote infographics for it. I dedicated much of my time in undergrad to The Tech,
  and built or co-built many things I'm proud of: the culture and staff (grown significantly
  during my time there, though I can't take full credit), the satire issues, 
  the student government debates and election editorials, even an advice column 
  (if you know, you know), etc.
  At The Wire China and its sister company WireScreen, I was hired to help build a new kind of 
  hybrid media and intelligence org. How can we take the insights of one journalist 
  from reading company documents, and formalize and replicate them at scale across thousands 
  more companies (WireScreen) — and then turn around to surface and distill those 
  insights to produce more great journalism (The Wire China)? For me, this involved
  building datasets and tools to get data, and also finding and writing about what's
  interesting about the data. 
  Alongside working in media orgs, I am interested in how media shapes us
  and is shaped by us, reading Neil Postman, Daniel Boorstin, Christopher Lasch, and others.
  </p>

  <p>I'm also a local food and agriculture enthusiast. I frequent local farmers
  markets and I've spent time <a href="https://wwoofusa.org/en/">WWOOFing</a>
  in the Southeast. I like to read about food, work, the land, and appropriate technology,
  with Wendell Berry, Ivan Illich, and Jacques Ellul as intellectual influences. 
  My latest personal project is building a recipe app that reinvents recipes 
  by examining their deep structure and building tools on top of it.</p>
</div>
